.add_review_modal{
    width: 50%;
    height: 50%;
    position: absolute;
    z-index: 999999;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    padding: 15px;

    .top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        h3{
            color: white;
        }
    }

    .options{
        display: flex;
        gap: 5px;
        align-items: center;
        h5{
            color: white;
        }

        p{
            color: white;
        }
    }

    .rating{
        display: flex;
        gap: 5px;
        align-items: center;
        h5{
            color: white;
        }

        p{
            color: white;
        }
    }

    .content{
        height: 70%;
        h5{
            color: white;
        }

        .text_box{
            width: 100%;
            height: 90%
        }
    }

    button{
        padding: 5px;
        outline: none;
        border: none;
        cursor: pointer;
    }
}